body {
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 25px;
    margin: 50px auto;
}

img {
    width: 90%;
    padding: 30px;
    border-radius: 40px;
}

.preperation {
    background-color: hsl(330, 100%, 98%);
}

.preperation li {
    padding: 5px;
}

h3 {
    color: hsl(332, 51%, 32%);
    padding-left: 20px;
}

.list-item {
    font-weight: bold;
}

h2 {
    color: hsl(24, 5%, 18%);
}

li {
    padding: 5px;
}

hr {
    width: 100%
}

td {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nutrition {
    color: grey;
}

.value {
    color: brown;
    font-weight: bold;
}


tr {
    border-bottom: 1px solid gray;
}

tr:last-child {
    border-bottom: none;
}

table {
    border-collapse: collapse;
}

@media only screen and (max-width: 500px) {
    main {
        width: 100%;
        /* padding: 0; */
    }

    img {
        width: 100%;
        padding: 0;
        border-radius: 0;
    }

    body {
        margin: 0;
    }
}